.header-container{
    display: flex;
    padding: 20px;
    gap: 50px;
    background-color: #fff;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header-title{
    display: none;
}

.header-input{
    width: 50%;
    padding-inline: 15px;
    color: #B0B0B0;
    font-family: 'Open Sans';
}

.main-container{
    padding: 50px 50px;
}

.clients-title{
    margin-bottom: 30px;
}

.clients-table{
    width: 100%;
    margin-bottom: 40px;
}

.row{
    display: flex;
}

.column-headings{
    display: flex;

}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

.column-id{
    flex: 0 1 100px;
    padding: 20px;
    text-align: center;
}

.column-data{
    flex: 1 0 100px;
    padding: 20px;
    text-align: center;
}


