.header-container{
    display: flex;
    padding: 20px;
    gap: 50px;
    background-color: #fff;
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header-title{
    display: none;
}

.header-input{
    width: 50%;
    padding-inline: 15px;
    color: #B0B0B0;
    font-family: 'Open Sans';
}

.main-container{
    padding: 50px 50px;
}

.clients-title{
    margin-bottom: 30px;
}

.clients-table{
    width: 100%;
    margin-bottom: 40px;
}

.row-client{
    display: flex;
}

.column-headings{
    display: flex;

}


/*!!!!!!!!!!!!!!!!!*/
.column-client{
    flex: 1 0 100px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

/*!!!!!!!!!!!!!!!!!*/

.popup{
    width: 40%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.popup_new-client{
    display: none;
}

.popup_change-client{
    display: none;
}

.popup_delete-client{
    display: none;
}

.container-popup{
    position: relative;
    padding: 25px 30px;
}

.popup-title{
    margin-bottom: 32px;
}

.container-inputs{
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    gap: 32px;
}

.btn-close-pos{
    position: absolute;
    left: 92%;
}
